/* GENERAL */

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --ou-bgr: #1d559f;
  --ou-bgr-darker: #024f82;
  --white: #ffffff;
  --black: #000000;
  --x: 10px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0.3em 0 0 0;
}

/* GENERAL */

/* FOOTER-2 */
.footer-2 {
  background-color: var(--ou-bgr);
  color: var(--white);
}

.footer-2-wrapper {
  padding-bottom: 3em;
  padding-top: 1.5em;
}

.footer-linebreak {
  width: 40px;
  height: 1.5px;
  background-color: var(--white);
}

.footer-2 #col-1 {
  width: 33.333%;
}

.footer-2 #col-2 {
  width: 33.333%;
  margin-left: 5%;
}

.footer-2 #col-3 {
  width: 33.333%;
  margin-left: 5%;
}

.footer-2 #col-3 ul {
  list-style-type: none;
}

.copyright {
  background-color: var(--ou-bgr-darker);
  width: 100%;
  height: 30px;
  text-align: center;
}

/* FOOTER-2 */
