/*information*/
#information {
    background-color: white;
    /* margin-top: 0.5rem; */
    box-sizing: border-box;
}

#information h2 {
    color: #ff0000;
    padding-left: 0.5rem;
}

.admission-information {
    width: 70%;
}

.admission-information div{
    flex-wrap: wrap;
}

.admission-information div div {
    width: 50%;
    padding: 0.5rem;
}

.admission-information img{
    width: 100%;
    border: 1px solid #000;
}

.news {
    width: 30%;
    border: 2px solid wheat;
}

.news > div{
    padding: 0.5rem 0.7rem;
    border-bottom: 1px solid grey;
}

.news > div:last-child {
    border: none;
}

/*registration*/
.registration  {
    background-color: white;
    text-align: center;
    border: 2px solid #FF7F00;
    margin-bottom: var(--x);
}

.registration h2 {
    background: linear-gradient(to left, violet, indigo, blue, green,yellow, orange, red); 
    background-clip: text;
    color: transparent;              
    padding: 10px;              
    text-align: center;
    animation: animated 10s linear infinite;
}

@keyframes slide {
    0% {
        transform:scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.onclick-slide {
    animation: slide 0.5s linear;
}

@keyframes animated{
    100% {
        background-position-x: 500px;
    }
}

.registration-form {
    background-color: #0063cd;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.registration-form input,
.registration-form select, 
.registration-form textarea {
    display: block; 
    width: 40%;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: var(--x);
}

.registration-form input:focus,
.registration-form select:focus,
.registration-form textarea:focus {
    border-color: violet;
    outline: none;
}

.registration button {
   width: 150px;
   height: 50px;
   margin: 10px;
   background: linear-gradient(130deg, violet, blue, green, orange, red);
   border-radius: 6px;
   position: relative;
}

.registration button span {
    width: 96%;
    height: 88%;
    background-color: #111;
    color: aliceblue;
    line-height: 44px;
    display: block;
    margin: 0 auto;
    border-radius: var(--x);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.registration button:hover{
    animation: animated 3s linear infinite;
}













